@media screen and (max-width:700px) {
    header .container{
        display: flex;
        flex-direction: column;
    }

    .botao{
        margin-top: 5px;
        width: 200px;
    }

    .filme-principal{
        box-sizing: border-box;
    }

    .item2{
        height: 520px;
    }

    .Carlos{
        font-size: 20px;
    }

    .titulo-carrossel{
        font-size: 70%;
        height: 70%;
        width: 70%;
        position: relative;

        align-items: center;
        align-content: center;

        margin-top: 25px;
    }


}

@media screen and (min-width:1000px){
    .descricao{
        width: 50%;
    }
}
